 .link{
    color: #e10600
} 

.loginBtn{
    width: 45%;
    height: 37px;
    background-color: white;
    color: #e10600;
    opacity: unset;
    font-weight: 600;
    font-size: 14px;
    margin: 20px;
}

.loginBtn:hover{
    background-color: #e10600;
    color: #ffffff;
}

input{
    outline-style: none;
  }
