.footer{
    margin: 0px;
    background-color: #e10600;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  .footerimg{
    width: 150px;
    height: 110px;
  }
  
  .footlist li{
    list-style-type: none;
    padding: 10px 0px;
  }
  
  .icons{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;
  }
  
  .foothead{
    padding-top: 80px;
    font-size: 30px;
    font-weight: 900;
  }
  
  .follow{
    list-style-type: none;
    padding-top: 80px;
    
  }
  
  .follow li{
    padding: 0px 12px;
    font-size: 20px;
  }
  
  .recomended{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
  }
  .recomended h2{
    font-weight: 900;
  }
  
  .recomended p {
    color: #a1a0a5;
  }
  
  .rights{

    display: flex;
    flex-direction: column;
    background-color: #e10600;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 20px;


    
  }

  .rights a {
    color: #fff;
    text-decoration: underline;
  }

  li>a{
    text-decoration: none;
    color: #ffffff
  }

 .social:hover{
  color: #ffffff;
 }