.accordion-button:not(.collapsed) {
    color: #ffffff !important;
    background-color: #e10600 !important;
    box-shadow: none !important;
}

.information{
    display: flex;
    flex-direction: column;
}

