
@media(width <=600px){


  .travel{
    display: none;
  }

  .list{
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navItems{

    justify-content: center;
    align-items: center;

  }




  .main{
          display: flex;
          flex-direction: column;
  }
  

  .footerfirst{
    display: none;
  }

  .foootersecond {
    display: none;
  }


  
  }
